body{
    background-image: url(cat2.jpeg);
    background-position: center;
    background-size: cover;

}

.onlyone{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    backdrop-filter: blur(5px);
}

h1{
    font-size: 40px;
    border: 2px solid black;
    box-shadow: 0 0 50px black;
    padding: 5px;
    border-radius: 20px;
    font-family: sevillana;
}
